version: '3.8'
services:
  mongodb:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    volumes:
        - mongodb_data:/data/db
    ports:
        - "27017:27017"
    networks:
        - app_network
    environment:
        - MONGO_INITDB_DATABASE=visioconf

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "3001:3001"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/visioconf
    depends_on:
      - mongodb
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongodb_data:
